<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>VIPER module template</string>
	<key>Summary</key>
	<string>VIPER module template</string>
	<key>SortOrder</key>
	<string>30</string>
	<key>DefaultCompletionName</key>
	<string></string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>moduleName</string>
			<key>Name</key>
			<string>New Module Name:</string>
			<key>Description</key>
			<string>The name of the module to create</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName___View</string>
			<key>Description</key>
			<string>The view name</string>
			<key>Identifier</key>
			<string>viewName</string>
			<key>Name</key>
			<string>View Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName___Presenter</string>
			<key>Description</key>
			<string>The presenter name</string>
			<key>Identifier</key>
			<string>presenter Name</string>
			<key>Name</key>
			<string>Presenter Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName___Interactor</string>
			<key>Description</key>
			<string>The interactor name</string>
			<key>Identifier</key>
			<string>interactorName</string>
			<key>Name</key>
			<string>Interactor Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName___Router</string>
			<key>Description</key>
			<string>The router name</string>
			<key>Identifier</key>
			<string>router Name</string>
			<key>Name</key>
			<string>Router Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
</dict>
</plist>
